<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hoperun.pagoda.demo.mapper.MessageMapper">

    <select id="findByUsername" resultType="hoperun.pagoda.demo.entity.Message">
        select * from tb_message <where> acceptor LIKE "%"#{username}"%" </where> order by createdate desc;
    </select>
    
    <insert id="insert" parameterType="hoperun.pagoda.demo.entity.Message" useGeneratedKeys="true" keyProperty="id">
        insert into tb_message (acceptor, sender,type, createdate,description) VALUES  (#{acceptor} ,#{sender},#{type}, #{createdate}, #{description});
    </insert>
    
</mapper>