<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hoperun.pagoda.demo.mapper.GroupMapper">
     <select id="findAllGroup" resultType="hoperun.pagoda.demo.entity.Group">
        SELECT * from tb_group;
    </select>
    <select id="findByGroupname" resultType="hoperun.pagoda.demo.entity.Group">
        SELECT * from tb_user where username = #{username};
    </select>
    <select id="findByUserId" resultType="hoperun.pagoda.demo.entity.Group">
        SELECT * from tb_user where user_id = #{userId};
    </select>
    <insert id="insert" parameterType="hoperun.pagoda.demo.entity.Group" useGeneratedKeys="true" keyProperty="group_id">
        insert into tb_group (groupname, customer_id,notes_server,notes_server_user,notes_server_pasword,description) VALUES 
        (#{groupname}, #{customer_id}, #{notes_server}, #{notes_server_user}, #{notes_server_pasword}, #{description});
    </insert>
</mapper>